<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table align="center" width="600" style="border-collapse: collapse; border: 1px solid #ccc;">
        <tr>
            <td style="padding: 20px; text-align: center; background-color: #f5f5f5;">
                <h2>Confirmação de criação de conta</h2>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p>Olá, {{name}},</p>
                <p>Agradecemos por se cadastrar em nossa plataforma! Estamos felizes em tê-lo(a) como novo(a) membro de nossa comunidade.</p>
                <p>Para confirmar a criação da sua conta, clique no botão abaixo:</p>
                <p style="text-align: center;">
                    <a href="{{siteURL}}/confirmar_conta/{{tokenCreate}}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: #fff; text-decoration: none;">Confirmar conta</a>
                </p>
                <p>Se você não realizou o cadastro em nosso sistema, por favor, ignore este email.</p>
                <p>Após confirmar sua conta, você terá acesso a todos os recursos e benefícios disponíveis em nosso serviço. Esperamos que você desfrute da nossa plataforma e aproveite ao máximo todas as funcionalidades oferecidas.</p>
                <p>Clique no link abaixo para confirmar sua conta.</p>                
                <p>Agradecemos novamente por escolher nossa plataforma. Estamos ansiosos para vê-lo(a) aproveitando todas as vantagens que oferecemos.</p>
                <p>Atenciosamente,</p>
                <p>OINK!<br>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>