# flyctl launch added from .gitignore
**/__pycache__
**/db.sqlite3

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
fly.toml
